@model RentedMovieOneValid.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<ul>
    <li>
        Customer Id : @Model.id
    </li>
    <li>
        Name : @Model.name
    </li>
    <li>
        Date Of Birth : @Model.DateOfBirth.ToShortDateString()
    </li>
    <li>
        Membership Type :@Model.MembershipType.MembershipTypeName
    </li>
    <li>
        Amount :@Model.MembershipType.Amount
    </li>
    <li>
        Duration :@Model.MembershipType.DurationInMonth
    </li>
    <li>
        Discount :@Model.MembershipType.Discount
    </li>
</ul>
