@model List<RentedMovieOneValid.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>Customer details</h2>
<table class="table table-bordered table-hover" >
    <tr>
        <th>Name</th>
    </tr>
    <tbody>
        @foreach(var c in Model)
        {
            <tr>
              
                <td>
                    @Html.ActionLink(c.name,"Details","Customer",new {Id=c.id},null)
                </td>
                
            </tr>
        }
    </tbody>
</table>
