@model RentedMovieOneValid.Models.Movie
@{
    ViewBag.Title = "Movie_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movie_Details</h2>
<ul>
    <li>
       Genre_Id : @Model.id
    </li>
    <li>
        Genre_Name : @Model.MovieName 
    </li>
</ul>
